@page
@model HomeService.Endpoint.Razor.Pages.Users.ProfileModel
@{
}
<section id="main" class="clearfix ad-profile-page">
    <div class="container">
        <div class="breadcrumb-section">
            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li><a href="index.html">خانه</a></li>
                <li> کارتابل شخصی</li>
            </ol><!-- breadcrumb -->
            <h2 class="title">پروفایل من</h2>
        </div><!-- banner -->
        <div class="ad-profile section">
            <div class="user-profile">
                <form action="/path/to/your/backend" method="POST" enctype="multipart/form-data">
                    <div class="user-images">
                        <div onclick="document.getElementById('fileInput').click();">
                            <img id="profileImage"
                                 class="img-fluid"
                                 src="~/UserTemplate/images/user.jpg"
                                 style="width: 135px; height: 125px"
                                 alt="عکس پروفایل" />
                        </div>

                        <!-- input file image -->
                        <input type="file"
                               id="fileInput"
                               accept="image/*"
                               class="d-none"
                               name="profileImage"
                               onchange="previewImage(event)" />
                    </div>

                    <div class="user">
                        <h2>سلام, <a href="#">صفورا عزیز</a></h2>
                        <h5>آخرین ورود شما سه‌شنبه ، 21 اردیبهشت 1399</h5>
                    </div>

                    <div class="favorites-user">
                        <div class="my-ads">
                            <a href="my-ads.html">23<small>سفارش های من</small></a>
                        </div>
                        <div class="favorites">
                            <a href="#">18<small>پیشنهاد های من</small></a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- user-profile -->

            <ul class="user-menu">
                <li class="active"><a href="my-profile.html">پروفایل</a></li>
                <li><a asp-page ="/Users/Orders"> سفارشات من</a></li>
                <li><a href="pending-ads.html"> پرداخت ها</a></li>
                <li><a href="pending-ads.html"> تغییر رمز عبور</a></li>
                <li><a href="delete-account.html">خروج از اکانت</a></li>
            </ul>
        </div>
        <!-- ad-profile -->

        <div class="profile">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-pro-section">
                        <!-- profile-details -->
                        <div class="profile-details section">
                            <h2>جزییات پروفایل</h2>
                            <!-- form -->
                            <div class="form-group">
                                <label>نام</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="صفورا " />
                            </div>

                            <div class="form-group">
                                <label>نام خانوادگی</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="احمدی " />
                            </div>

                            <div class="form-group">
                                <label>ایمیل</label>
                                <input type="email"
                                       class="form-control"
                                       placeholder="jyuwe@mail.com" />
                            </div>

                            <div class="form-group">
                                <label for="name-three">موبایل</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="+213 1234 56789" />
                            </div>

                            <div class="form-group">
                                <label>شارژ کیف پول</label>
                                <select class="form-control">
                                    <option value="#">100000 تومان</option>
                                    <option value="#">200000 تومان</option>
                                    <option value="#">300000 تومان</option>
                                    <option value="#">400000 تومان</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>استان</label>
                                <select class="form-control">
                                    <option value="#">ایران- تهران</option>
                                    <option value="#">ایران- اراک</option>
                                    <option value="#">ایران- قم</option>
                                    <option value="#">ایران- مشهد</option>
                                    <option value="#">ایران- تبریز</option>
                                    <option value="#">ایران- شیراز</option>
                                    <option value="#">ایران- کرمان</option>
                                </select>
                            </div>
                        </div>
                        <!-- profile-details -->
                        <!-- change-password -->
                        <a href="#" class="btn">به روز رسانی پروفایل</a>
                        <a href="#" class="btn cancle">انصراف</a>
                    </div>
                    <!-- user-pro-edit -->
                </div>
                <!-- profile -->

                <div class="col-md-4 text-center">
                    <div class="recommended-cta">
                        <div class="cta">
                            <!-- single-cta -->
                            <div class="single-cta">
                                <!-- cta-icon -->
                                <div class="cta-icon icon-secure">
                                    <img src="~/UserTemplate/images/icon/13.png"
                                         alt="Icon"
                                         class="img-fluid" />
                                </div>
                                <!-- cta-icon -->

                                <h4>خدمات متنوع</h4>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                                    و با استفاده از طراحان گرافیک است
                                </p>
                            </div>
                            <!-- single-cta -->
                            <!-- single-cta -->
                            <div class="single-cta">
                                <!-- cta-icon -->
                                <div class="cta-icon icon-support">
                                    <img src="~/UserTemplate/images/icon/14.png"
                                         alt="Icon"
                                         class="img-fluid" />
                                </div>
                                <h4>امنیت</h4>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                                    و با استفاده از طراحان گرافیک است
                                </p>

                            </div>
                            <!-- single-cta -->
                            <!-- single-cta -->
                            <div class="single-cta">
                                <!-- cta-icon -->
                                <div class="cta-icon icon-trading">
                                    <img src="~/UserTemplate/images/icon/15.png"
                                         alt="Icon"
                                         class="img-fluid" />
                                </div>
                                <!-- cta-icon -->

                                <h4>کارشناسانی خبره</h4>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                                    و با استفاده از طراحان گرافیک است
                                </p>
                            </div>
                            <!-- single-cta -->
                        </div>
                    </div>
                    <!-- cta -->
                </div>
                <!-- recommended-cta-->
            </div>
            <!-- row -->
        </div>
    </div>
    <!-- container -->
</section>
@section Scripts
{
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../www.google-analytics.com/analytics.html','ga');

        ga('create', 'UA-73239902-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script>
        function previewImage(event) {
          const file = event.target.files[0];
          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              document.getElementById("profileImage").src = e.target.result;
            };
            reader.readAsDataURL(file);
          }
        }
    </script>

}
