@page
@using HomeService.Domain.Core.Contracts.AppService.BaseEntities
@model HomeService.Endpoint.Razor.Pages.Users.ProfileModel
@{
    ViewData["Title"] = "پروفایل من";
}
@inject ICityAppService _CityAppService
@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMessage" class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
    <hr />
    TempData["ErrorMessage"] = null;
}
@if (TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
    <hr />
    TempData["SuccessMessage"] = null;
}
<script>

    setTimeout(function () {
        var successMessage = document.getElementById("successMessage");
        var errorMessage = document.getElementById("errorMessage");

        if (successMessage) {
            successMessage.style.transition = "opacity 0.5s";
            successMessage.style.opacity = "0";
            setTimeout(function () { successMessage.style.display = "none"; }, 500);
        }

        if (errorMessage) {
            errorMessage.style.transition = "opacity 0.5s";
            errorMessage.style.opacity = "0";
            setTimeout(function () { errorMessage.style.display = "none"; }, 500);
        }
    }, 5000);
</script>
<div class="profile">
    <div class="row">
        <div class="col-md-8">
            <div class="user-pro-section">
                <!-- profile-details -->
                <div class="profile-details section">
                    <h2>جزییات پروفایل</h2>

                    <!-- form -->
                    <form method="post" enctype="multipart/form-data" id="simple-form" role="form">
                        <input asp-for="UserUpdateModel!.Id" type="hidden">
                        <input asp-for="UserUpdateModel!.Email" type="hidden">
                        <input asp-for="UserUpdateModel!.Balance" type="hidden">
                        <div class="form-group">
                            <label>نام</label>
                            <input asp-for="UserUpdateModel!.Fname"
                                   type="text"
                                   class="form-control" />
                            <div class="error-message text-danger small mt-1">
                                <span asp-validation-for="UserUpdateModel!.Fname"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>نام خانوادگی</label>
                            <input type="text"
                                   asp-for="UserUpdateModel!.Lname"
                                   class="form-control" />
                            <div class="error-message text-danger small mt-1">
                                <span asp-validation-for="UserUpdateModel!.Lname"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>ایمیل</label>
                            <input asp-for="UserUpdateModel!.Email"
                                   type="email"
                                   class="form-control"
                                   disabled />
                        </div>
                        <div class="form-group">
                            <label>رمز عبور</label>
                            <input asp-for="UserUpdateModel!.Password"
                                   type="password"
                                   class="form-control"
                                    />
                            <div class="error-message text-danger small mt-1">
                                <span asp-validation-for="UserUpdateModel!.Password"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name-three">موبایل</label>
                            <input type="text"
                                   asp-for="UserUpdateModel!.Mobile"
                                   class="form-control" />
                            <div  class="error-message text-danger">
                                <span asp-validation-for="UserUpdateModel!.Mobile"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> موجودی کیف پول (تومان)</label>
                            <input asp-for="UserUpdateModel!.Balance"
                                   type="text"
                                   class="form-control"
                                   disabled />
                        </div>
                        <div class="form-group">
                            <label>شارژ کیف پول</label>
                            <select class="form-control" asp-for="UserUpdateModel!.Amount">
                                <option value="0">انتخاب کنید</option>
                                <option value="100000">100000 تومان</option>
                                <option value="200000">200000 تومان</option>
                                <option value="300000">300000 تومان</option>
                                <option value="400000">400000 تومان</option>
                            </select>
                            <div class="text-danger small mt-1">
                                <span asp-validation-for="UserUpdateModel!.Balance"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>استان</label>
                            <select asp-for="UserUpdateModel!.CityId" class="form-control">
                                @foreach (var city in await _CityAppService.GetAll(default))
                                {
                                    <option value="@city.Id">@city.Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">

                            <div class="input-group round">
                                <label>پروفایل</label>
                                <input asp-for="UserUpdateModel!.ImageFile" type="file" class="form-control ltr text-right" id="image-input">
                            </div>
                            <div id="image-error" class="error-message text-danger mt-1  ">
                                <span asp-validation-for="UserUpdateModel!.ImageFile"></span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">به روز رسانی پروفایل</button>
                    </form>
                </div>
                <!-- profile-details -->

                <a asp-page="/Users/Profile" class="btn cancle">انصراف</a>
            </div>
            <!-- user-pro-edit -->
        </div>
        <!-- profile -->

        <div class="col-md-4 text-center">
            <div class="recommended-cta">
                <div class="cta">
                    <!-- single-cta -->
                    <div class="single-cta">
                        <!-- cta-icon -->
                        <div class="cta-icon icon-secure">
                            <img src="~/UserTemplate/images/icon/13.png"
                                 alt="Icon"
                                 class="img-fluid" />
                        </div>
                        <!-- cta-icon -->

                        <h4>خدمات متنوع</h4>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                            و با استفاده از طراحان گرافیک است
                        </p>
                    </div>
                    <!-- single-cta -->
                    <!-- single-cta -->
                    <div class="single-cta">
                        <!-- cta-icon -->
                        <div class="cta-icon icon-support">
                            <img src="~/UserTemplate/images/icon/14.png"
                                 alt="Icon"
                                 class="img-fluid" />
                        </div>
                        <h4>امنیت</h4>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                            و با استفاده از طراحان گرافیک است
                        </p>

                    </div>
                    <!-- single-cta -->
                    <!-- single-cta -->
                    <div class="single-cta">
                        <!-- cta-icon -->
                        <div class="cta-icon icon-trading">
                            <img src="~/UserTemplate/images/icon/15.png"
                                 alt="Icon"
                                 class="img-fluid" />
                        </div>
                        <!-- cta-icon -->

                        <h4>کارشناسانی خبره</h4>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                            و با استفاده از طراحان گرافیک است
                        </p>
                    </div>
                    <!-- single-cta -->
                </div>
            </div>
            <!-- cta -->
        </div>
        <!-- recommended-cta-->
    </div>
    <!-- row -->
</div>

@section Scripts
{
    <script src="~/UserTemplate/js/jquery.min.js"></script>
    <script src="~/UserTemplate/js/popper.min.js"></script>
    <script src="~/UserTemplate/js/modernizr.min.js"></script>
    <script src="~/UserTemplate/js/bootstrap.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="~/UserTemplate/js/gmaps.min.js"></script>
    <script src="~/UserTemplate/js/owl.carousel.min.js"></script>
    <script src="~/UserTemplate/js/scrollup.min.js"></script>
    <script src="~/UserTemplate/js/price-range.js"></script>
    <script src="~/UserTemplate/js/jquery.countdown.js"></script>
    <script src="~/UserTemplate/js/custom.js"></script>
    <script src="~/UserTemplate/js/switcher.js"></script>

}
