@page
@model HomeService.Endpoint.Razor.Areas.Account.Pages.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from atiyehahmadi.ir/trade/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Jan 2025 19:01:49 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Theme Region">
    <meta name="description" content="">

    <title>کالا |  خرید و فروش بدون واسطه‌ی آنلاین </title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/UserTemplate/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/UserTemplate/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/UserTemplate/css/icofont.css">
    <link rel="stylesheet" href="~/UserTemplate/css/owl.carousel.css">
    <link rel="stylesheet" href="~/UserTemplate/css/slidr.css">
    <link rel="stylesheet" href="~/UserTemplate/css/main.css">
    <link id="preset" rel="stylesheet" href="~/UserTemplate/css/presets/preset1.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>


    <style>
        .form-group {
            position: relative;
            margin-bottom: 1rem;
        }

        .text-danger {
           
            position: absolute;
            bottom: -20px; /* فاصله خطا از input */
            font-size: 0.875rem; /* اندازه فونت خطا */
            color: #dc3545; /* رنگ خطا */
        }
    </style>

</head>
<body>



    <section id="main" class="clearfix user-page">
        @if (TempData["ErrorMessage"] != null)
        {
            <div id="errorMessage" class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>

            TempData["ErrorMessage"] = null;
        }
        <script>

            setTimeout(function () {
                          var errorMessage = document.getElementById("errorMessage");
                    if (errorMessage) {
                    errorMessage.style.transition = "opacity 0.5s";
                    errorMessage.style.opacity = "0";
                    setTimeout(function () { errorMessage.style.display = "none"; }, 500);
                }
            }, 5000);
        </script>

       
            <div class="container">
                <div class="row text-center">
                    <!-- user-login -->
                    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">

                        <div class="user-account">
                            <h2>فرم ورود</h2>
                            <!-- form -->
                            <form method="post">
                                <div class="form-group">
                                    <input type="text" asp-for="PageModel.Username" class="form-control" placeholder="نام کاربری">
                                    <div class="text-danger small mt-1">
                                        <span asp-validation-for="PageModel.Username"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="PageModel.Password" class="form-control" placeholder="رمزعبور">
                                    <div class="text-danger small mt-1">
                                        <span asp-validation-for="PageModel.Password"></span>
                                    </div>
                                </div>
                                <button type="submit" class="btn">ورود</button>
                            </form><!-- form -->
                            <!-- forgot-password -->
                        </div>
                        <a asp-area="Account" asp-page="/Register" class="btn-primary">ساخت اکانت جدید</a>
                    </div><!-- user-login -->
                </div><!-- row -->
            </div>
            <!-- container -->
        }
      

    </section><!-- signin-page -->
    <script src="~/UserTemplate/js/jquery.min.js"></script>
    <script src="~/UserTemplate/js/popper.min.js"></script>
    <script src="~/UserTemplate/js/modernizr.min.js"></script>
    <script src="~/UserTemplate/js/bootstrap.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="~/UserTemplate/js/gmaps.min.js"></script>
    <script src="~/UserTemplate/js/owl.carousel.min.js"></script>
    <script src="~/UserTemplate/js/scrollup.min.js"></script>
    <script src="~/UserTemplate/js/price-range.js"></script>
    <script src="~/UserTemplate/js/jquery.countdown.js"></script>
    <script src="~/UserTemplate/js/custom.js"></script>
    <script src="~/UserTemplate/js/switcher.js"></script>

</body>

</html>
